{% for post in posts %}
    {% if paged < 1 %}
        {% if not loop.first %}
            <li class="o-post-feed__item">
                {% include "components/molecules/card.twig" %}
            </li>
        {% endif %}
    {% else %}
       <li class="o-post-feed__item">
            {% include "components/molecules/card.twig" %}
        </li>
    {% endif %}
{% endfor %}
