<!DOCTYPE html>
<html {{ site.language_attributes }}>
  {% include 'html-header.twig' %}

  <body class="{{ body_class }}">
    {% include 'components/molecules/skip-navigation.twig' %}
    {% include 'components/organisms/preheader.twig' %}
    {% include 'components/organisms/header.twig' %}

    {% block banner %}
    {% endblock %}

    <main id="main" class="o-main {{main_class}}">
        <div class="o-content">
            {% block content %}
            <p>
                Sorry, no content
            </p>
            {% endblock %}
        </div>

        {% if sidebar %}
        <div class="o-sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
        {% endif %}
    </main>

    {% include 'components/organisms/prefooter.twig' %}

    {% include 'components/organisms/footer.twig' %}

    {% include 'html-footer.twig' %}

    {% include 'components/organisms/header-search.twig' %}

  </body>
</html>
