<head>
    <title>{{ function('wp_title') }}</title>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPT7HYFZ6K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MPT7HYFZ6K');
    </script>

    <!-- OneTrust Cookies Consent Notice start for www.hot97.com -->
        <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="cc79b8dd-9ea1-435d-9c0a-7737f693825e" ></script>
        <script type="text/javascript">
        function OptanonWrapper() { }
        </script>
    <!-- OneTrust Cookies Consent Notice end for www.hot97.com -->

    {{ function('wp_head') }}
</head>
