.m-adspace {
  color: var(--global--color-hot-yellow-500);
  margin-bottom: 1rem;
  position: relative;

  > * {
    display: block;
  }

  span {
    background-color: var(--global--color-light-gray);
    position: relative;
    margin: 0 auto;
    max-width: 100%;
  }

  &::after {
    content: "advertisement";
    position: relative;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: rem(10px);
    line-height: 1.6;
    text-transform: uppercase;
    display: block;

    .is-dark-theme & {
      color: white;
    }
  }
}

.m-adspace--preheader {
  margin-bottom: 1em;

  @include media(tablet) {
    margin-bottom: 0;
  }

  &::after {
    display: inline-block;
    background: var(--global--color-hot-yellow-900);
    color: white;
    padding: 2px 0;

    @include media(tablet) {
      display: none;
    }
  }

  &::before {
    content: "AD";
    position: absolute;
    left: -38px;
    top: 22px;
    text-align: center;
    font-family: monospace;
    font-size: rem(10px);
    line-height: 1.6;
    text-transform: uppercase;
    width: 60px;
    transform: rotate(-90deg);
    background: var(--global--color-hot-yellow-900);
    color: white;
    z-index: 2;
    display: none;

    @include media(tablet) {
      display: block;
    }
  }

  span {
    height: 60px;
    width: 468px;
    z-index: 1;
  }
}

.m-adspace--othercats,
.m-adspace--post-sidebar {
  span {
    height: 600px;
    width: 300px;
  }
}

.m-adspace--othercats--mobile {
  span {
    height: 100px;
    width: 320px;
  }
}

.m-adspace--djsingle,
.m-adspace--post-single,
.m-adspace--listen-live,
.m-adspace--in-content {
  span {
    height: 90px;
    width: 728px;
  }
}

.m-adspace--archive {
  margin-top: 75px;
  margin-bottom: 90px;

  span {
    height: 249px;
    width: 970px;
  }
}

.m-adspace--in-content {
  padding: 75px 16px 90px;
  background-color: $color-black;

  .m-adspace__inner {
    margin: 0 auto;
  }
}
