.m-adspace {
  background-color: var(--global--color-transparent);
  position: relative;
  padding-bottom: 10px;
  div.ione-ad {
    margin: 0 auto;
    text-align: center;
    & > div {
      &::after {
        content: "advertisement";
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: -20px;
        font-family: $monospace;
        font-size: rem(10px);
        line-height: 1.6;
        text-transform: uppercase;
        display: block;
        margin-top: 3px;

        .is-dark-theme & {
          color: white;
        }
      }
    }
  }
}

.m-adspace__horizontal__interlude {
  div.ione-ad {
    max-width: 728px;
    & > div {
      margin: 0 auto;
      outline: 1px solid #996e00;
      outline-offset: 3px;
    }
  }
}

.m-adspace__preheader,
.m-adspace--othercats,
.is-dark-theme {
  div.ione-ad {
    position: relative;
    margin: 0 auto;
    outline: 1px solid #996e00;
    outline-offset: 3px;
  }
}

.m-adspace__preheader {
  div.ione-ad {
    position: relative;
    &::before {
      content: "AD";
      position: absolute;
      left: -18px;
      top: 50%;
      text-align: center;
      font-family: $monospace;
      font-size: 0.625rem;
      text-transform: uppercase;
      width: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      background: var(--global--color-hot-yellow-900);
      color: white;
      z-index: 2;

      @include media(tablet) {
        display: block;
      }
    }
  }
  &::after {
    content: "";
    height: 20px;
    background: repeating-linear-gradient(
      135deg,
      var(--global--color-black),
      5px,
      var(--global--color-hot-yellow-500) 5px,
      var(--global--color-hot-yellow-500) 6px
    );
    width: 100%;
    display: block;
    margin-top: 5px;
  }
}
