.m-marquee-divider {
  position: relative;
  background-color: var(--global--color-hot-yellow-100);
  height: 500px;

  @include media (laptop) {
    @include paper-tear-bottom-inner;
  }

  .o-tiled {
    height: 500px;
    overflow: hidden;

    .o-tiled__tile {
      background-repeat: repeat-x;

      @include media (laptop) {
        background-repeat: repeat-y;
        background-size: 110% auto;
      }
    }
  }
}

.m-marquee-divider__marquee {
  position: absolute;
  top: -3rem;
  left: -1vw;
  padding: 2rem 0 1.3rem;
  background-color: black;
  overflow: hidden;
  transform: rotate(-2deg);
  width: 102vw;
  z-index: 2;

  span {
    font-family: var(--heading--font-family);
    font-weight: var(--heading--font-weight);
    font-size: 6vw;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    color: white;
    width: 26vw;
    text-shadow:  26vw 0 white,
                  calc(26vw * 2) 0 white,
                  calc(26vw * 3) 0 white,
                  calc(26vw * 4) 0 white;
    will-change: transform;
    animation: marquee 2.5s linear infinite;
  }
}

@keyframes marquee {
   0% { transform: translateX(0); }
   100% { transform: translateX(-100%); }
}
