.m-section-header {
  display: flex;
  align-items: center;
}

.m-section-header__heading {
  font-family: $judgetrial;
  font-weight: 500;
  font-size: rem(48px);
  color: #fff;
  text-transform: uppercase;
  margin-right: 30px;
}
