.o-dj-carousel {
  position: relative;
  // CD - I built in the hopes of using in lots of places but they all have different rules so this is the rules for this area. Can probably clean up and make more translatable.
  .o-tiled {
    height: 300px;
    @include media(laptop){
      height: 994px;
    }
    .o-tiled__tile {
      background-repeat: repeat-x;
      background-size: contain;
      @include media (laptop) {
        background-repeat: repeat-y;
        background-size: 110% auto;
      }
    }
  }
  @include media (laptop) {
    @include paper-tear-bottom-inner;
    @include paper-tear-top-inner;
  }
}
// CD - just adding this as an example - I've add a height because of lack of content. should be adjusted once everything is set.
.o-dj-carousel__inner {
  background-color: var(--global--color-hot-yellow-100);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 645px;
  padding: 20px;

  @include media (laptop) {
    // margin right is based on width of wide aligned blocks. this may need changed - didn't get a sense of width rules from comps
    width: calc(100vw - ((100vw - var(--responsive--alignwide-width)) / 2 ));
    position: absolute;
  }
}
