.o-global-nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
}

.o-global-nav__secondary {
  width: unset;
  display: none;
  @include media(nav) {
    display: flex;
  }
}

.o-global-nav__mobile-button {
  display: flex;
  @include media(nav) {
    display: none;
  }
}


// not sure if button styles will help - so putting here for now. cd

.o-header {
  button.o-global-nav__search {
    font-family: monospace;
    font-size: rem(16px);
    color: var(--global--color-hot-yellow-100);
    background-color: var(--global--color-transparent);
    white-space: nowrap;
    padding: unset;
    &:hover {
      color: var(--global--color-white);
    }
    & > i {
      margin: 8px;
    }
  }

  .o-global-nav__button {
    font-family: monospace;
    font-size: rem(14px);
    line-height: 1.43;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--global--color-hot-yellow-100);
    border-radius: 100px;
    padding: 10px 24px;
    background-color: var(--global--color-hot-yellow-100);
    color: var(--global--color-black);
    &:hover {
      background-color: var(--global--color-transparent);
      color: var(--global--color-white);
    }
  }

  .o-global-nav__divider {
    display: flex;
    margin: 15px auto;
    height: 1px;
    // width: 24px;
    background: var(--global--color-hot-yellow-500);
    @include media(laptop) {
      margin: 0 15px;
      height: 24px;
      width: 1px;
      }
  }
}
