.o-hero,
.m-featurecard {
  color: var(--global--color-white);
  background-color: var(--global--color-hot-yellow-900);
  a {
    color: var(--global--color-white);
    text-decoration: none;
    &:hover {
      color: var(--global--color-hot-yellow-100);
      text-decoration: underline;
    }
  }
}

.o-hero__container,
.m-featurecard__container {
  // max-width: $breakpoint_xxl;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-flow: column-reverse nowrap;
  @include lock(padding-bottom, 0px, 20px, $breakpoint_md, $breakpoint_xl);
  @include media(desktop) {
    flex-flow: row nowrap;
  }
}

.o-hero__text,
.template-col__sm,
.o-main--split .o-sidebar,
.m-featurecard__text {
  flex: 1 0 29.2%;
  @include lock(padding, 20px, 50px, $breakpoint_xl, $breakpoint_xxl);
}

.o-hero__media,
.template-col__lg,
.o-main--split .o-content,
.m-featurecard__media {
  flex: 0 1 70.8%;
  width: 100%;
}

.o-hero__media,
.m-featurecard__media {
  .jwppp-video-box {
    margin-top: 0!important;
  }
}


.o-hero__terms,
.m-featurecard__terms {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  p,
  span {
    margin-right: 10px;
    font-size: rem(16px);
    text-transform: uppercase;
  }
}

.o-hero__category--primary a,
.m-featurecard__category--primary a {
  color: var(--global--color-hot-yellow-100);
  font-family: $monospace;
  font-size: rem(14px);
  &:hover {
    color: var(--global--color-white);
  }
}

.o-hero__title,
.m-featurecard__title {
  @include lock(font-size, 36px, 48px, $breakpoint_lg, $breakpoint_xl);
  font-weight: 500;
  line-height: 1.04167;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.o-hero__title {
  a:hover {
    color: white;
  }
}

.o-hero__excerpt,
.m-featurecard__excerpt {
  font-size: rem(20px);
  line-height: 1.2;
  color: #b1aaa2;
}

// styles override for JW player mobile view

@media screen and (max-width: 480px) {
  .jw-flag-floating .jw-wrapper {
    width: 75% !important;
    top: auto !important;
    bottom: 10px !important;
    margin-right: 10px !important;
  }
}

.o-hero__image-link {
  @include lock(min-height, 260px, 600px, $breakpoint_md, $breakpoint_xxl);
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;

  &:not(.watch) {
    @include paper-tear-bottom-inner;
  }
  &.watch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      content: "";
      position: absolute;
      height: 100px;
      width: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background: url(../images/playbutton.svg);

    }
  }
}
