.o-menu {
  ul {
    .o-global-nav & {
      display: flex;
    }

    list-style: none;
    padding: 0;
    align-items: center;

    li > a {
      color: var(--primary-nav--color-link);
      text-decoration: none;
      &:hover {
        color: var(--primary-nav--color-link-hover);
      }
    }
  }
}

.o-menu--main {
  display: none;
  flex-grow: 1;
  padding-left: 20px;

  @include media(nav) {
    display: flex;
  }

  ul {
    flex-flow: row nowrap;

    li {
      margin-left: 0;

      &:first-child {
        margin-left: 0;
      }

      a {
        font-family: var(--primary-nav--font-family);
        font-size: rem(18px);
        line-height: 1.3333;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 10px 10px 8px;
        border-radius: 3px;

        &:hover {
          color: var(--global--color-black);
          background-color: var(--global--color-hot-yellow-100);
        }
      }
    }
  }
}

.o-menu--utility {
  display: none;
  margin-right: 30px;

  @include media(nav) {
    display: flex;
  }

  ul {
    flex-flow: row nowrap;
    & li > a {
      font-family: $monospace;
      font-size: rem(14px);
      line-height: 1.142857;
      padding: 3px 7px;
      border-radius: 3px;

      &:hover {
        color: var(--global--color-black);
        background-color: var(--global--color-hot-yellow-100);
      }
    }
  }
}

.o-menu--mobile {
  ul {
    flex-flow: column nowrap;
    & li > a {
      font-family: var(--primary-nav--font-family);
      font-size: rem(44.8px);
      line-height: 1.3333;
      text-transform: uppercase;
      margin-right: 30px;
      white-space: nowrap;
      font-weight: bold;
    }
  }
}
