.o-preheader {
  // background: repeating-linear-gradient(135deg, var(--global--color-black), 5px, var(--global--color-hot-yellow-500) 5px, var(--global--color-hot-yellow-500) 6px);
  background: black;
  display: flex;
  padding: 10px;
  justify-content: center;
}
