.o-page-header {
  .o-tiled {
    height: 230px;
  }

  & + * {
    margin-top: 20px;
  }
}

.o-page-header__title {
  max-width: var(--responsive--aligndefault-width);
  margin: var(--global--spacing-vertical) auto 0;
  text-transform: uppercase;
  transition: margin-top 1s;

  @include media(laptop) {
    margin-top: 110px;
  }
}
