.o-search {
  @include cover;
  position: fixed;
  // background-color: var(--global--color-hot-yellow-100);
  background: $gradient-hot-yellow-100-to-hot-yellow-500;
  z-index: 101;
  justify-content: center;
  align-items: center;
  transition: right .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
  display: flex;
  opacity: 0;

  .show-search & {
      transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
      opacity: 1;
  }
  .visible__search & {
      visibility: visible;
  }
}

.o-search__exit {
  position: absolute;
  top: 20px;
  right: 20px;

  @include media(laptop) {
    top: 100px;
    right: calc(((100% - 75vw) / 4) + 12px);
  }

  button {
    width: 45px;
    height: 45px;
    padding: 0;

    @include media(laptop) {
      width: auto;
      height: auto;
      padding: var(--button--padding-vertical) var(--button--padding-horizontal);
    }
  }

  i {
    font-size: 45px;

    @include media(laptop) {
      font-size: 3rem;
    }
  }
}
