.o-search {
  @include cover;
  position: fixed;
  // background-color: var(--global--color-hot-yellow-100);
  background: $gradient-hot-yellow-100-to-hot-yellow-500;
  z-index: 1;
  justify-content: center;
  align-items: center;
  transition: right .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
  display: flex;
  opacity: 0;
  .show-search & {
      transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
      opacity: 1;
  }
  .visible__search & {
      visibility: visible;
  }
}

