.o-search-results {
  padding: 75px 16px;
}

.o-search-results__inner {
  max-width: 740px;
  margin: 0 auto;
}

.o-search-results__results-text {
  font-family: $mono;
  text-transform: uppercase;
  font-size: rem(14px);
  padding-bottom: 20px;
}

.o-search-results__posts {
  list-style: none;
  padding-left: 0;
}
