
<div class="o-dj-carousel alignfull has-background-color has-hot-yellow-100-background-color">
        {% if front_page_options.dj_tiled_image %}
        <div class="o-tiled">
            <div class="o-tiled__tile" style="background-image:url({{ front_page_options.dj_tiled_image['url'] }})"></div>
            <div class="o-tiled__tile" style="background-image:url({{ front_page_options.dj_tiled_image['url'] }})"></div>
            <div class="o-tiled__tile" style="background-image:url({{ front_page_options.dj_tiled_image['url'] }})"></div>
        </div>
        {% endif %}

        <div class="o-dj-carousel__inner">
            <div class="o-dj-carousel__header m-section-header">
                <h2 class="o-dj-carousel__title a-section-heading">HOT DJS</h2>
                <a class="o-dj-carousel__view-all a-arrow-link" href="/talent">View All DJs</a>
            </div>
            {% if djs %}
                <ul class="o-dj-carousel__list js-dj-carousel">
                    {% for post in djs %}
                        <li class="o-dj-carousel__item">
                            {% include "components/molecules/dj-card.twig" %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

</div>
