<div class="o-global-nav">
    {% include "components/organisms/primary-navigation.twig" %}
    {% include "components/organisms/utility-navigation.twig" %}

    <div class="o-global-nav o-global-nav__secondary">
    <button class="o-global-nav__search js-search-toggle"><i class="fas fa-search"></i>Search</button>
    <span class="o-global-nav__divider"></span>
    {% include "components/organisms/icon-menu.twig" %}

    <a class="o-global-nav__button" href="{{ flexible_cta.url }}">{{ flexible_cta.title }}</a>
    </div>
</div>
