<div class="o-search">
<div class="o-search__exit"><button class="js-close-search has-background has-transparent-background-color has-black-color"><i class="fal fa-times fa-3x"></i></button></div>
    {% include 'components/molecules/search-form.twig' with {
      classes: 'm-search-form--header',
      id: 'header-search',
      placeholder: 'Search site'
    } %}
</div>
