<header class="o-header">
<div class="o-header__inner">
    <h1 class="o-header__logo">
        <a class="o-header__logo-link" href="{{ home_url }}">{{ site_title }}</a>
    </h1>

    {% include "components/organisms/global-navigation.twig" %}
    <div class="o-global-nav__mobile-button">
        <button aria-label="open mobile menu"
          class="o-header__mobile-button has-background has-transparent-background-color js-toggle">
            <i class="fal fa-bars"></i>
        </button>
      </div>

    </div>
        {% include "components/organisms/mobile-menu-drawer.twig" %}

</header>
