<div class="o-search">
    {% include 'components/molecules/search-form.twig' with {
      classes: 'm-search-form--header',
      id: 'header-search',
      placeholder: 'Search site'
    } %}
</div>
