<div class="m-social-icon__wrapper">
<a href="#" class="m-social-icon"><i class="fab fa-facebook"></i></a>
<a href="#" class="m-social-icon"><i class="fab fa-twitter"></i></a>
<a href="#" class="m-social-icon"><i class="fab fa-instagram"></i></a>
<a href="#" class="m-social-icon"><i class="fab fa-youtube"></i></a>
</div>
