<nav aria-label="Social Media" class="m-social-icon__wrapper">
<a href="#" class="m-social-icon"><span class="fab fa-facebook" title="facebook"></span></a>
<a href="#" class="m-social-icon"><span class="fab fa-twitter" title="twitter"></span></a>
<a href="#" class="m-social-icon"><span class="fab fa-instagram" title="instagram"></span></a>
<a href="#" class="m-social-icon"><span class="fab fa-youtube" title="youtube"></span></a>
</nav>
