<div class="o-drawer__overlay"></div>
<aside id="drawer" class="o-drawer">
  <div class="o-drawer__button--container">
    <button aria-label="close mobile menu"
      id="closedrawer"
      class="o-drawer__close-button has-background has-transparent-background-color js-close">
      <span class="icon close-icon"></span>
    </button>
  </div>
  <div class="o-drawer__content">
{% include "components/organisms/mobile-navigation.twig" %}
  </div>
</aside>
