<div class="o-othercats m-related-posts">
    <div class="m-marquee-title">
        <div class="m-marquee-title__inner">
            <h1>Read More</h1>
            {% for i in 0..5 %}
            <span>Read More</span>
            {% endfor %}
        </div>
    </div>

    <div class="o-othercats__container">
        <div class="o-othercats__cardblock">
            <div class="o-othercats__cards js-post-collect posts">
                {% for post in related_posts %}
                <div class="posts__item o-othercats__card">
                    {% include "components/molecules/card.twig" %}
                </div>
                {% endfor %}
            </div>

           <span id="load-more-observer" class="js-load-more" data-url="single-post-load-more/{{ id }}"></span>
        </div>

        <div class="o-othercats__adspace">
            <div class="m-adspace m-adspace--othercats">
                <span></span>
            </div>
        </div>
    </div>
</div>
