<nav aria-label="Utility" class="o-menu o-menu--utility">
  <ul>
    {% for item in utility_menu.items %}
      <li class="{{ item.classes|join(' ') }}">
        <a href="{{ item.link }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
