<nav aria-label="Utility" class="o-menu o-menu--utility">
  <h2 class="o-menu__heading">
    Utility Navigation
  </h2>
  <ul>
    {% for item in utility_menu.items %}
      <li class="{{ item.classes|join(' ') }}">
        <a href="{{ item.link }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    <li>
      {% include 'components/molecules/search-form.twig' with {
        classes: 'm-search-form--header',
        id: 'header-search',
        placeholder: 'Search site'
      } %}
    </li>
  </ul>
</nav>
