:root {
  --global--color-black: #0E0900;
  --global--color-white: #fff;
  --global--color-transparent: transparent;
  --global--color-hot-yellow-100: #ffba04;
  --global--color-hot-yellow-200: #dfa000;
  --global--color-hot-yellow-500: #7d5800;
  --global--color-hot-yellow-900: #0e0900;
  --global--color-red: #910f18;
  --global--color-dark-gray: rgb(24, 22, 22);
  --global--color-medium-gray: rgb(119, 108, 108);
  --global--color-light-gray: rgb(223, 213, 213);
}

/** Baseline Colors */
$color-black: #0E0900;
$color-white: #ffffff;
$color-transparent: transparent;

/** Brand Colors */
$color-hot-yellow-100: #ffba04;
$color-hot-yellow-200: #dfa000;
$color-hot-yellow-500: #7d5800;
$color-hot-yellow-900: #0e0900;
$color-red: #910f18;

/* Grays */
$color-dark-gray: rgb(24, 22, 22);
$color-medium-gray: rgb(119, 108, 108);
$color-light-gray: rgb(223, 213, 213);

/** Functional Colors */
$color-border: null;
$color-image: null;
$color-text: $color-medium-gray;
$color-heading: $color-white;

/** Form Colors */
$color-form-border: $color-border;
$color-form-background: $color-white;
$color-form-error: $color-red;

/**
   * @requires /config/editor-color-palette.php to generate Block Editor UI
   * @requires /assets/styles/theme/twentytwentyone/assets/sass/07-utilities/color-palette.colab.scss
   *
   * @link https://developer.wordpress.org/block-editor/developers/themes/theme-support/#block-color-palettes
   */
$color-palette: (
  /** Brand Colors */
  "black": $color-black,
  "white": $color-white,
  "transparent": $color-transparent,
  "hot-yellow-100": $color-hot-yellow-100,
  "hot-yellow-200": $color-hot-yellow-200,
  "hot-yellow-500": $color-hot-yellow-500,
  "hot-yellow-900": $color-hot-yellow-900,
  "dark-gray": $color-dark-gray,
  "medium-gray": $color-medium-gray,
  "light-gray": $color-light-gray,
  "red": $color-red
);

$color-palette-preset-color: (
  /** Brand Colors */
  "hot-yellow-100": "inverted",
  "hot-yellow-200": "inverted",
  "hot-yellow-500": "primary",
  "hot-yellow-900": "primary",
  "red": "primary"
);

/** Gradients */
$gradient-transparent-to-black-40: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.4) 100%
);
$gradient-hot-yellow-100-to-black: linear-gradient(
  $color-hot-yellow-100 0%,
  $color-black 100%
);
$gradient-hot-yellow-100-to-hot-yellow-500: linear-gradient(
  226.38deg,
  $color-hot-yellow-100 11.89%,
  $color-hot-yellow-500 100%
);
$gradient-white-to-black: linear-gradient(
  $color-white 0%,
  $color-black 100%
);
$gradient-white-to-transparent: linear-gradient(
  129.23deg,
  $color-white 27.89%,
  $color-transparent 77.04%
);

/**
   * @requires /config/editor-gradient-presets.php
   * @requires /assets/styles/theme/twentytwentyone/assets/sass/07-utilities/color-palette.colab.scss
   *
   * @link https://developer.wordpress.org/block-editor/developers/themes/theme-support/#block-gradient-presets
   */
$gradient-presets: (
  "transparent-to-black-40": $gradient-transparent-to-black-40,
  "hot-yellow-100-to-black": $gradient-hot-yellow-100-to-black,
  "hot-yellow-100-to-hot-yellow-500": $gradient-hot-yellow-100-to-hot-yellow-500,
  "white-to-black": $gradient-white-to-black,
  "white-to-transparent": $gradient-white-to-transparent
);
