/** Override Twenty Twenty-One Variables */
$default_width: 740px;
$max_content_width: 1280px;
$breakpoint_sm: 482px; // mobile
$breakpoint_md: 592px; // tablet
$breakpoint_lg: 740px; // laptop
$breakpoint_xl: 1128px; // desktop
$breakpoint_xxl: 1440px; // wide
