{% extends "base.twig" %}

{% block banner %}
    {% if not hide_banner %}
        {% include 'components/organisms/page-header.twig' %}
    {% endif %}
{% endblock %}

{% block content %}
    <main {% if dark %} class="is-dark-theme" {% endif %} id="main ">
        <section class="entry-content">
            {{ content|raw }}
        </section>
    </main>
{% endblock %}
