{% extends "base.twig" %}

{% block banner %}
    <div class="m-marquee-title">
        <div class="m-marquee-title__inner">
            <h1>{{ title }}</h1>
                    {% for i in 0..9 %}
            <span>{{ title }}</span>
            {% endfor %}
        </div>
    </div>
    {% if featured_post %}
        {% include "components/molecules/feature-card.twig" with {
            'post': featured_post
        } %}
    {% endif %}
{% endblock %}

{% block content %}

    {% if posts|length > 0 %}
        <ul class="o-post-feed js-post-collect">
            {% include "templates/partials/post-feed.twig" %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

    <span id="load-more-observer" class="js-load-more load-more-observer" data-url="home-load-more"></span>

{% endblock %}

{% block sidebar %}

    {% include "components/molecules/archive-sidebar.twig" %}

    <div class="m-adspace m-adspace--post-sidebar">
        <div class="ione-ad" data-pos="1"></div>
    </div>
{% endblock %}
