{% extends "base.twig" %}

{% block content %}
    <main id="main">
        <h1>{{ title }}</h1>

        <div class="typography">
            {{ content|raw }}
        </div>

        {% if posts|length > 0 %}
            <ul class="posts">
                {% include "templates/partials/post-feed.twig" %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}

        {# {{ paginate_links }} #}
        <span class="load-more-observer">load</span>
    </main>
{% endblock %}
