{% extends "base.twig" %}
{% block banner %}
    {% include "components/organisms/post-header.twig" %}
{% endblock %}

{% block content %}
    <section class="entry-content">
        {{ content|raw }}
        {# <div class="m-adspace m-adspace--post-single">
            <div class="ione-ad" data-pos="incontent1"></div>
        </div> #}
    </section>
{% endblock %}

{% block sidebar %}
    <div class="m-adspace m-adspace--post-sidebar">
        <div class="ione-ad" data-pos="1"></div>
    </div>

    {% include "components/molecules/post-sidebar.twig" %}

    <div class="m-adspace m-adspace--post-sidebar">
        <div class="ione-ad" data-pos="2"></div>
    </div>
{% endblock %}

{% block related %}
    {% include "components/organisms/post-related.twig" %}
{% endblock %}
