
@font-face {
  font-family: "Oskari";
  src: url("../fonts/Oskari-G2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oskari";
  src: url("../fonts/Oskari-G2-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlex-mono";
  src: url("../fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "JudgeTrial";
  src: url("../fonts/F37JudgeTrial-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "JudgeTrial";
  src: url("../fonts/F37JudgeTrial-BoldCompressed.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}

$judgetrial: 'JudgeTrial', sans-serif;
$oskari: 'Oskari', sans-serif;
$monospace: 'IBMPlex-mono', monospace;
$mono: $monospace;
